
@import "mixins.less";

@screen-lg-min: 1050px;
@screen-sm-max: (@screen-lg-min - 1px);
@screen-xs-max: (@screen-lg-min - 1px);
@screen-sm-min: 768px;
@screen-xs-max: (@screen-sm-min - 1);

@container-max: 1000px;

.screen-size-container() {
	@media(max-width: @screen-sm-max) {
		width: auto;
	}
	@media(min-width: @screen-lg-min) {
		width: @container-max;
		margin-left: auto;
		margin-right: auto;
	}
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	background-color: #050f1e;
}

header {
	background: url("/assets/images/header_bg.gif") 0px 0px repeat-x;
	height: 96px;
	
	#logo {
		position: absolute;
		background: url("/assets/images/planetmetax.png") 0px 0px no-repeat;
		top: 12px;
		height: 24px;
		width: 163px;
		text-indent: -5000px;
		
		@media(max-width: @screen-sm-max) {
			left: 16px;
		}
		@media(min-width: @screen-lg-min) {
			left: 50%;
			margin-left: 0px - (@container-max / 2);
		}
		
		a {
			position: relative;
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	
	#slogan {
		position: absolute;
		background: url("/assets/images/slogan.png") 0px 0px no-repeat;
		top: 16px;
		height: 13px;
		width: 234px;
		text-indent: -5000px;
		
		@media(max-width: @screen-sm-max) {
			right: 16px;
		}
		@media(min-width: @screen-lg-min) {
			left: 50%;
			margin-left: (@container-max / 2) - 234px;
		}
	}
	
	#mainmenu {
		margin: 0;
		padding: 0;
		display: block;
		position: absolute;
		top: 54px;
		left: 0;
		right: 0;
		text-align: center;
		
		li {
			display: inline-block;
			margin: 0;
			padding: 0 12px 0 0;
			
			&:after {
				content: "·";
				display: inline-block;
				margin: 0;
				padding: 0 0 0 12px;
			}
			&:last-child {
				padding: 0;
				
				&:after {
					content: None;
				}
			}
			
			a {
				color: #0d2750;
				font-weight: bold;
				font-size: 16px;
				text-decoration: none;
				
				&:hover, &:focus {
					color: #4f555f;
				}
			}
		}
	}
}

footer {
	background: #0c1a30 url("/assets/images/footer_split.gif") 0px -2px repeat-x;
	color: #ffffff;
	padding: 24px 0 0;
	
	a {
		color: #ffffff;
		text-decoration: none;
	}
	a:hover, a:focus {
		color: #ffffff;
		text-decoration: underline;
	}
	
	#footerlinks {
		.screen-size-container();
		
		@media(max-width: @screen-sm-max) {
			margin-left: 16px;
			margin-right: 16px;
		}
		
		div {
			width: 30%;
			margin-left: 0;
			margin-right: 5%;
			float: left;
			padding-bottom: 24px;
			
			&#socialmedia {
				margin-right: 0;
			}
			
			@media(max-width: @screen-xs-max) {
				float: none;
				padding-bottom: 4px;
				width: auto;
				margin-right: 0;
			}
			
			h3 {
				font-size: 18px;
				padding: 0 12px 8px;
				margin-bottom: 8px;
				border-bottom: 1px solid #666666;
			}
			
			ul {
				list-style: none;
				padding: 0 12px;
				margin: 0;
				li {
					padding: 4px 0 0;
				}
			}
		}
	}
	
	div#copyright {
		clear: both;
		background-color: #050f1e;
		width: auto;
		margin: 12px 0 0;
		
		div {
			.screen-size-container();
			padding: 12px;
		}
	}
}

#container {
	background-color: #ffffff;
	margin: 0;
	
	#content {
		padding: 16px;
		.screen-size-container();
		min-height: 500px;
	}
}

.pageNavigation {
	margin-top: 12px;
	text-align: center;
	background-color: #f0f0f0;
	padding: 4px;
	
	p {
		display: block;
		font-weight: bold;
		margin: 0 0 8px;
	}
	ul {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		display: inline-block;
		margin: 0 4px;
		padding: 0;
		
		a, span {
			display: block;
			height: 100%;
			width: 100%;
			padding: 4px 12px;
		}
		a {
			color: 000000;
			background-color: #e0e0e0;
			border: 1px solid #666666;
		}
		span {
			color: #666666;
			background-color: #e9e9e9;
			border: 1px solid #aaaaaa;
		}
	}
}

code.highlight {
	.hll { background-color: #ffffcc }
	.c { color: #60a0b0; font-style: italic } /* Comment */
	.err { border: 1px solid #FF0000 } /* Error */
	.k { color: #007020; font-weight: bold } /* Keyword */
	.o { color: #666666 } /* Operator */
	.cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
	.cp { color: #007020 } /* Comment.Preproc */
	.c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
	.cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
	.gd { color: #A00000 } /* Generic.Deleted */
	.ge { font-style: italic } /* Generic.Emph */
	.gr { color: #FF0000 } /* Generic.Error */
	.gh { color: #000080; font-weight: bold } /* Generic.Heading */
	.gi { color: #00A000 } /* Generic.Inserted */
	.go { color: #888888 } /* Generic.Output */
	.gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
	.gs { font-weight: bold } /* Generic.Strong */
	.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
	.gt { color: #0044DD } /* Generic.Traceback */
	.kc { color: #007020; font-weight: bold } /* Keyword.Constant */
	.kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
	.kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
	.kp { color: #007020 } /* Keyword.Pseudo */
	.kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
	.kt { color: #902000 } /* Keyword.Type */
	.m { color: #40a070 } /* Literal.Number */
	.s { color: #4070a0 } /* Literal.String */
	.na { color: #4070a0 } /* Name.Attribute */
	.nb { color: #007020 } /* Name.Builtin */
	.nc { color: #0e84b5; font-weight: bold } /* Name.Class */
	.no { color: #60add5 } /* Name.Constant */
	.nd { color: #555555; font-weight: bold } /* Name.Decorator */
	.ni { color: #d55537; font-weight: bold } /* Name.Entity */
	.ne { color: #007020 } /* Name.Exception */
	.nf { color: #06287e } /* Name.Function */
	.nl { color: #002070; font-weight: bold } /* Name.Label */
	.nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
	.nt { color: #062873; font-weight: bold } /* Name.Tag */
	.nv { color: #bb60d5 } /* Name.Variable */
	.ow { color: #007020; font-weight: bold } /* Operator.Word */
	.w { color: #bbbbbb } /* Text.Whitespace */
	.mb { color: #40a070 } /* Literal.Number.Bin */
	.mf { color: #40a070 } /* Literal.Number.Float */
	.mh { color: #40a070 } /* Literal.Number.Hex */
	.mi { color: #40a070 } /* Literal.Number.Integer */
	.mo { color: #40a070 } /* Literal.Number.Oct */
	.sb { color: #4070a0 } /* Literal.String.Backtick */
	.sc { color: #4070a0 } /* Literal.String.Char */
	.sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
	.s2 { color: #4070a0 } /* Literal.String.Double */
	.se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
	.sh { color: #4070a0 } /* Literal.String.Heredoc */
	.si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
	.sx { color: #c65d09 } /* Literal.String.Other */
	.sr { color: #235388 } /* Literal.String.Regex */
	.s1 { color: #4070a0 } /* Literal.String.Single */
	.ss { color: #517918 } /* Literal.String.Symbol */
	.bp { color: #007020 } /* Name.Builtin.Pseudo */
	.vc { color: #bb60d5 } /* Name.Variable.Class */
	.vg { color: #bb60d5 } /* Name.Variable.Global */
	.vi { color: #bb60d5 } /* Name.Variable.Instance */
	.il { color: #40a070 } /* Literal.Number.Integer.Long */
}

pre {
	code {
		pre {
			// Reset duplicate pre settings
			padding: 0;
			margin: 0;
			border: none;
		}
	}
}

div.clear {
	clear: both;
}

h1 {
	margin-bottom: 20px;
	border-bottom: 1px dotted #999999;
}

.blogMetaTop {
	.border-top-radius(4px);
}

.blogMetaBottom {
	.border-bottom-radius(4px);
}

.blogMetaTop, .blogMetaBottom {
	.vertical-gradient(#2e2e2e, #1f2c39);
	padding: 4px 12px;
	color: #ffffff;
	
	a {
		color: #dddddd;
		text-decoration: underline;
		
		&:hover, &:focus {
			color: #ffffff;
		}
	}
	
	.blogCategory {
		display: inline;
	}
	
	.blogTags {
		display: inline;
		&:before {
			content: "·";
			display: inline-block;
			margin: 0;
			padding: 0 8px;
		}
		
		ul {
			display: inline;
			margin: 0 0 0 4px;
			padding: 0;
			list-style: none;
			
			li {
				display: inline;
				margin: 0 4px 0 0;
				padding: 0;
				list-style: none;
			}
		}
	}
}

.blogentry > h2 {
	margin-top: 30px;
}

.contact-page-image {
	float: right;
	
	@media(max-width: @screen-xs-max) {
		display: block;
		float: none;
		margin: 0 auto 8px;
	}
}

div.blog_toc {
	float: right;
	background-color: #ffffff;
	border: 1px solid #666666;
	padding: 4px;
	margin-left: 16px;
	margin-bottom: 8px;
	.border-radius(4px);
	
	p {
		text-align: center;
		.vertical-gradient(#2e2e2e, #1f2c39);
		padding: 4px;
		color: #ffffff;
		.border-radius(4px);
	}
}
