
html, body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	background-color: #050f1e;
}

header {
	background: url("/assets/images/header_bg.gif") 0px 0px repeat-x;
	height: 64px;
	
	#logo {
		position: absolute;
		background: url("/assets/images/planetmetax.png") 0px 0px no-repeat;
		left: 16px;
		top: 12px;
		height: 24px;
		width: 163px;
		text-indent: -5000px;
	}
	
	#slogan {
		position: absolute;
		background: url("/assets/images/slogan.png") 0px 0px no-repeat;
		right: 16px;
		top: 16px;
		height: 13px;
		width: 234px;
		text-indent: -5000px;
	}
}

footer {
	background: #0c1a30 url("/assets/images/footer_split.gif") 0px 0px repeat-x;
	color: #ffffff;
	padding: 24px 0 0;
	
	a {
		color: #ffffff;
		text-decoration: none;
	}
	a:hover, a:focus {
		color: #ffffff;
		text-decoration: underline;
	}
	
	div {
		width: 25%;
		margin-left: 4%;
		margin-right: 4%;
		float: left;
		padding-bottom: 24px;
		
		h3 {
			font-size: 18px;
			padding: 0 12px 8px;
			margin-bottom: 8px;
			border-bottom: 1px solid #333333;
		}
		
		ul {
			list-style: none;
			padding: 0 12px;
			margin: 0;
			li {
				padding: 4px 0 0;
			}
		}
	}
	
	div#copyright {
		float: none;
		clear: both;
		background-color: #050f1e;
		width: auto;
		margin: 12px 0 0;
		padding: 12px;
	}
}

#content {
	background-color: #ffffff;
	margin: 0;
	padding: 16px;
}

div.clear {
	clear: both;
}
