@* admin Template File *@
@(staticPage: StaticPage, staticPageForm: Form[StaticPageData])(implicit messages: Messages)
@template("Admin") {
	<h1>Edit Static Page [id=@staticPage.id]</h1>
	
	@if(staticPageForm.hasGlobalErrors) {
		<ul>
		@for(error <- staticPageForm.globalErrors) {
			<li>@error.message</li>
		}
		</ul>
	}
	
	@helper.form(action = routes.AdminController.saveEditStaticPage(staticPage.id)) {
		@helper.inputText(staticPageForm("title"))
		@helper.inputText(staticPageForm("url"))
		@helper.textarea(staticPageForm("content"))
		<input type="submit" value="Save" />
	}
}