@* blogoverview Template File *@
@(blogEntries: Seq[BlogEntry], nextPage: Option[Call], nextPageNumber: Int, prevPage: Option[Call], prevPageNumber: Int)
@template("FOO") {
	<h1>Blog Entry Overview</h1>
	
	<p style="text-align: center;">
	Navigation:
	@if(prevPage.isDefined) {
		<a href="@prevPage">&raquo; Page @prevPageNumber</a>
	} else {
		<span>&raquo; Page x</span>
	}
	@if(nextPage.isDefined) {
		<a href="@nextPage">Page @nextPageNumber &laquo;</a>
	} else {
		<span>Page x &laquo;</span>
	}
	</p>
}