@* admin Template File *@
@(id: Int)
@template("Blog Bearbeiten") {
	@* Header *@
	<script type="text/javascript" src="@routes.Assets.at("/public", "lib/jquery/jquery.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("/public", "lib/bootstrap/js/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("/public", "lib/ace/src-noconflict/ace.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/pm15admin.js")"></script>
} {
	<h1 id="adminEditBlog" data-id="@id">Blog Eintrag bearbeiten: <span id="blogEntryTitle"></span></h1>
	
	<div id="blogLoadingStatus" class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Bitte warten ...</h2>
		</div>
		<div class="panel-body">
			<p>Der Blog-Eintrag wird geladen ...</p>
		</div>
	</div>
	
	<div id="editBlogMeta" class="panel panel-default hidden">
		<div class="panel-heading">
			<h2 class="panel-title">Meta</h2>
		</div>
		<div class="panel-body">
			<form class="form-horizontal">
				<div id="metaMessage" class="alert hidden"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="blogTitle">Titel*</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="blogTitle" value="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="blogURL">URL*</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="blogURL" value="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="blogCategory">Kategorie*</label>
					<div class="col-sm-10">
						<select id="blogCategory" class="form-control">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="blogTags">Tags</label>
					<div class="col-sm-8">
						<div id="blogTags"></div>
					</div>
					<div class="col-sm-2">
						<div class="dropdown">
							<button id="blogAddTagButton" type="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block">
								Hinzufügen
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="blogAddTagButton"
								id="blogAddTagList" style="max-height: 300px; overflow-y: auto;">
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="blogTags">Veröffentlichung</label>
					<div class="col-sm-5">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="blogPublished"> Veröffentlicht
							</label>
						</div>
					</div>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="blogPublishedDate" value="" disabled placeholder="YYYY-MM-DD HH:mm:ss">
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer">
			<button id="saveMetaButton" type="button" class="btn btn-primary">Speichern</button>
			<button id="saveAndPublishButton" type="button" class="btn btn-primary">Jetzt veröffentlichen</button>
		</div>
	</div>

	<div id="editBlogContent" class="panel panel-default hidden">
		<div class="panel-heading">
			<h2 class="panel-title">Inhalt</h2>
		</div>
		<div class="panel-body">
			<div id="blogContentEditor">Wird geladen ...</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-6">
					<button id="saveContentButton" type="button" class="btn btn-primary">Speichern</button>
					<a id="previewContentButton" href="#" target="preview" class="btn btn-default">Vorschau</a>
				</div>
				<div class="col-md-6">
					<div id="contentMessage" class="alert hidden alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<span id="contentMessageText"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="editBlogAttachments" class="panel panel-default hidden">
		<div class="panel-heading">
			<h2 class="panel-title">Dateien</h2>
		</div>
		<div class="panel-body">
			<table id="attachmentsTable">
				<thead>
					<tr>
						<th class="col_filename">Dateiname</th>
						<th class="col_url">URL</th>
						<th class="col_type">Typ</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3" class="row_loading">Wird geladen ...</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-6">
					<button id="addAttachmentButton" type="button" class="btn btn-primary">Anhang hinzufügen</button>
				</div>
				<div class="col-md-6">
					
				</div>
			</div>
		</div>
	</div>

	<div id="blogLoadingError" class="panel panel-default hidden">
		<div class="panel-heading">
			<h2 class="panel-title">Fehler beim Laden</h2>
		</div>
		<div class="panel-body">
			<p>Der Blog Eintrag mit der ID <strong>@id</strong> konnte nicht geladen werden.</p>
			<p>Möglicherweise existiert der Eintrag nicht.</p>
		</div>
		<div class="panel-footer">
			<a href="@routes.AdminController.adminPage" class="btn btn-primary">Zurück zur Administration</a>
		</div>
	</div>
	
}