@* Kontakt Template File *@
@template("Kontakt")(HtmlFormat.empty) {
	<h1>Kontakt und Profile</h1>
	<img src="@routes.Assets.at("/public", "images/foto.jpg")" class="contact-page-image">
	<h2>Privat:</h2>
	<p>
		<strong>Christian Simon</strong>
	</p>
	<p>
		Gertud-von-le-Fort-Str. 4<br>
		97074 Würzburg<br>
		Deutschland
	</p>
	<ul style="margin-bottom: 36px;">
		<li>Email: <a href="mailto:mail@@planet-metax.de">mail@@planet-metax.de</a></li>
		<li>Twitter: <a href="https://twitter.com/metaxmx" target="_blank">@@metaxmx</a></li>
		<li>Github: <a href="https://github.com/metaxmx" target="_blank">metaxmx</a></li>
		<li>Last.fm: <a href="http://www.last.fm/de/user/metaxmx" target="_blank">metaxmx</a></li>
	</ul>
	<h2>Geschäftlich:</h2>
	<a href="https://www.illucit.com/de/" target="_blank" class="contact-page-image">
		<img src="@routes.Assets.at("/public", "images/illucit.png")">
	</a>
	<p>
		<strong><a href="https://www.illucit.com/de/" target="_blank">illucIT Software GmbH</a></strong>
	</p>
	<p>
		Egloffsteinstraße 11b<br>
		97072 Würzburg<br>
		Deutschland
	</p>
	<ul style="margin-bottom: 36px;">
		<li>Website: <a href="https://www.illucit.com" target="_blank">www.illucit.com</a></li>
		<li>Email: <a href="mailto:simon@@illucit.com">simon@@illucit.com</a></li>
		<li>XING: <a href="https://www.xing.com/profile/Christian_Simon36" target="_blank">Christian_Simon36</a></li>
	</ul>
}