@* Datenschutz Template File *@
@template("Datenschutz")(HtmlFormat.empty) {
	<h1>Datenschutz</h1>
	<p>
		Bei jedem Aufruf von Planet Metax werden automatisch einige Informationen (wie die IP-Adresse, der Browser,
		das Betriebssystem etc.) vom Browser an Planet Metax geschickt. Diese Daten werden ausschließlich
		für anonymisierte Statistiken verwendet; keine dieser Informationen wird an Dritte weitergegeben. 
	</p>
	<p>
		Diese Website speichert <b>keine Cookies</b> auf Ihrem Computer und verwendet auch sonst keine Methoden um
		Ihr Surfverhalten zu verfolgen.
	</p>
}