@* Profil Template File *@
@template("Profil")(HtmlFormat.empty) {
	<h1>Profil</h1>
	<div class="row">
		<div class="col-md-6">
			<h2>Kompetenzen</h2>
			
			<h3>Projektmanagement</h3>
			<ul>
				<li>Anforderungsanalyse</li>
				<li>Business Process Modelling</li>
				<li>Agiles Projektmanagement (Scrum, Kanban, Burnup Charts, Reports)</li>
			</ul>
			<h3>Entwicklung</h3>
			<ul>
				<li>Entwicklung von Applikationen</li>
				<li>Erstellung von Webanwendungen</li>
				<li>Entwurf von Softwarearchitekturen</li>
				<li>Prototyping</li>
				<li>Database Modelling</li>
				<li>Responsive Design</li>
				<li>Data Mining</li>
			</ul>
			<h3>Qualitätssicherung</h3>
			<ul>
				<li>Erstellen von Testfällen</li>
				<li>Testautomatisierung</li>
				<li>Performance- und Fehleranalyse</li>
				<li>Szenario-Tests und Integrationstests</li>
				<li>Continuous Integration</li>
				<li>Search Engine Optimization (Analyse und Umsetzung)</li>
			</ul>
			<h3>Wartung</h3>
			<ul>
				<li>Serveradministration (Windows, Linux)</li>
				<li>Aufsetzen und Wartung von Serveranwendungen</li>
				<li>Monitoring</li>
				<li>Deployment (Continuous Delivery)</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h2>Lebenslauf</h2>
			<p>
				<strong>2006 – 2011:</strong>
				Studium der Informatik (Diplom) an der Universität Würzburg
			</p>
			<p>
				<strong>2006 – 2010:</strong>
				Arbeit als Freelancer für Qualitätssicherung und Programmierung (Bankensektor)
			</p>
			<p>
				<strong>2008 – 2011:</strong>
				Arbeit als <em>studentische Hilfskraft</em> am Lehrstuhl für Informatik II (Uni Würzburg)
			</p>
			<p>
				<strong>2011 – 2013:</strong>
				Arbeit als <em>wissenschaftlicher Mitarbeiter</em> am Lehrstuhl für Informatik II (Uni Würzburg)
			</p>
			<p>
				<strong>2013 – heute:</strong>
				Gründer und Geschäftsführer von <a href="https://www.illucit.com" target="_blank">illucIT Software</a>
			</p>
			
			<h2>Technologien</h2>
			<ul>
				<li>Java (Java 8, Maven, Ant, JavaFX, Swing)</li>
				<li>Java Enterprise (JBoss / WildFly, Hibernate, JSP, JSF, CDI, EJB, Primefaces, Spring)</li>
				<li>Atlassian JIRA, Confluence, Crucible</li>
				<li>Scriptsprachen (Perl, Bash, Python)</li>
				<li>HTML 5, JavaScript, jQuery, JSON</li>
				<li>CSS 3, LESS, Twitter Bootstrap</li>
				<li>Scala, Akka, Play</li>
				<li>Camunda BPM</li>
				<li>Database Evolution (Flyway, Play Evolution)</li>
				<li>Git, SVN</li>
				<li>Continuous Integration/Delivery (Hudson, Jenkins, Bamboo)</li>
				<li>XML, XPath, XSLT, XSD</li>
				<li>UML</li>
				<li>Android SDK</li>
				<li>JUnit, Selenium, Arquillian</li>
				<li>HP Quality Center</li>
			</ul>
		</div>
	</div>
}