@* Index Template File *@
@template("") {
	<h1>Willkommen auf Planet Metax</h1>
	<p>
		Ich möchte Sie ganz herzlich auf meiner privaten Webseite Willkommen heißen!
	</p>
	<p>
		Ich bin Softwareentwickler in Würzburg und beschäftige mich - unter Anderem - mit Java, Scala, Webtechnologie,
		Linux, Bildbearbeitung und Musik. Zu diesen Themen werden Sie im Blog das Eine oder Andere lesen können.
	</p>
	<p>
		Hier auf „Planet Metax“ finden Sie außerdem Links zu Webseiten, die ich interessant, nützlich oder einfach nur
		bemerkenswert fand. Falls ein Link nicht mehr geht, oder auf eine offensichlich falsche Adresse zeigt,
		wäre ich für einen kleinen Hinweis sehr dankbar.
	</p>
	<p>
		Ferner biete ich auf meiner <a href="https://github.com/metaxmx" target="_blank">Github Page</a> einige Tools
		und Frameworks an, die ich programmiert habe.
	</p>
	<p>
		Alles in allem wünsche ich Ihnen einen schönen Aufenthalt auf meiner Website.
	</p>
	<p>
		<i>Christian Simon</i>
	</p>
}