@* template Template File *@
@(title: String = "")(content: Html)
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>@{if(!title.isEmpty) title + " - "}Planet Metax</title>
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/pm15.css">
</head>
<body>
<header>
	<div id="logo">Planet Metax</div>
	<div id="slogan">Aus dem Leben eines Entwicklers</div>
	<ul id="mainmenu">
		<li><a href="/">Startseite</a></li>
		<li><a href="/blog/">Blog</a></li>
		<li><a href="/artikel.html">Artikel</a></li>
		<li><a href="/profil.html">Profil</a></li>
		<li><a href="/kontakt.html">Kontakt</a></li>
	</ul>
</header>
<div id="container">
	<div id="content">
		@content
	</div>
</div>
<footer>
	<div id="footerlinks">
		<div id="pages">
			<h3>Weitere Informationen</h3>
			<ul>
				<li>
					<a href="/impressum.html">Impressum</a>
				</li>
				<li>
					<a href="/datenschutz.html">Datenschutzvereinbarung</a>
				</li>
				<li>
					<a href="/faq.html">FAQ</a>
				</li>
			</ul>
		</div>
		<div id="links">
			<h3>Links</h3>
			<ul>
				<li>
					<a href="http://www.illucit.de" target="_blank">illucIT Software GmbH</a>
				</li>
				<li>
					<a href="http://www.wj-wuerzburg.de/" rel="nofollow" target="_blank">Wirtschaftsjunioren Würzburg</a>
				</li>
			</ul>
		</div>
		<div id="socialmedia">
			<h3>Social Media</h3>
			<ul>
				<li>
					<a href="https://github.com/metaxmx" rel="nofollow" target="_blank">Github</a>
				</li>
				<li>
					<a href="https://www.xing.com/profile/Christian_Simon36" rel="nofollow" target="_blank">XING</a>
				</li>
				<li>
					<a href="https://twitter.com/metaxmx" rel="nofollow" target="_blank">Twitter</a>
				</li>
				<li>
					<a href="https://plus.google.com/+ChristianSimon86" rel="nofollow" target="_blank">Google+</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="copyright">
		<div>
			Copyright 2015 by Christian Simon &middot; Alle Rechte vorbehalten
		</div>
	</div>
</footer>
</body>
</html>