@* template Template File *@
@(title: String = "")(content: Html)
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Christian Simon" />
	<title>@{if(!title.isEmpty) title + " - "}Planet Metax</title>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public", "lib/bootstrap/css/bootstrap.min.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public", "stylesheets/pm15.css")">
	<link rel="icon" type="image/x-icon" href="@routes.Assets.at("/public/images", "favicon.ico")">
	<link rel="Shortcut Icon" href="@routes.Assets.at("/public/images", "favicon.ico")">
	<link rel="alternate" type="application/rss+xml" title="Planet Metax" href="@routes.RssController.showRss()">
	<!--[if IE]>
		<script type="text/javascript" src="@routes.Assets.at("/public", "lib/html5shiv/html5shiv.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("/public", "lib/respond/dest/respond.min.js")"></script>
	<![endif]-->
</head>
<body>
<header>
	<div id="logo"><a href="@routes.StaticPageController.showIndexPage()">Planet Metax</a></div>
	<div id="slogan" class="hidden-xs">Aus dem Leben eines Entwicklers</div>
	<ul id="mainmenu">
		<li><a href="@routes.StaticPageController.showIndexPage()">Startseite</a></li>
		<li><a href="@routes.BlogController.blogOverview()">Blog</a></li>
		<li><a href="@routes.StaticPageController.showProfilPage()">Profil</a></li>
		<li><a href="@routes.StaticPageController.showKontaktPage()">Kontakt</a></li>
	</ul>
</header>
<div id="container">
	<main id="content">
		@content
	</main>
</div>
<footer>
	<div id="footerlinks">
		<div id="pages">
			<h3>Weitere Informationen</h3>
			<ul>
				<li>
					<a href="@routes.StaticPageController.showImpressumPage()">Impressum</a>
				</li>
				<li>
					<a href="@routes.StaticPageController.showDatenschutzPage()">Datenschutzvereinbarung</a>
				</li>
				<li>
					<a href="@routes.RssController.showRss()">Blog RSS Feed</a>
				</li>
			</ul>
		</div>
		<div id="links">
			<h3>Links</h3>
			<ul>
				<li>
					<a href="http://www.illucit.de" target="_blank">illucIT Software GmbH</a>
				</li>
				<li>
					<a href="http://www.wj-wuerzburg.de/" rel="nofollow" target="_blank">Wirtschaftsjunioren Würzburg</a>
				</li>
			</ul>
		</div>
		<div id="socialmedia">
			<h3>Social Media</h3>
			<ul>
				<li>
					<a href="https://github.com/metaxmx" rel="nofollow" target="_blank">Github</a>
				</li>
				<li>
					<a href="https://www.xing.com/profile/Christian_Simon36" rel="nofollow" target="_blank">XING</a>
				</li>
				<li>
					<a href="https://twitter.com/metaxmx" rel="nofollow" target="_blank">Twitter</a>
				</li>
				<li>
					<a href="https://plus.google.com/+ChristianSimon86" rel="nofollow" target="_blank">Google+</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="copyright">
		<div>
			<span class="pull-right hidden-xs">Powered by <a href="https://github.com/metaxmx/pm15" target="_blank">pm15</a>.</span>
			Copyright 2015 by Christian Simon &middot; Alle Rechte vorbehalten
		</div>
	</div>
</footer>
</body>
</html>